<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Subject}}</title>
</head>

<body>
	<p>{{.Body | Str2html}}</p>
	<p>
		---
		<br>
		<a href="{{.Link}}">View it on Codeberg</a>.
	</p>
</body>
</html>
